#map-container {
    width: calc(100%); /* Ajusta el ancho del mapa */
    height: 76vh; /* Usa el 100% de la altura de la ventana */
    transition: width 0.3s; /* Transición suave para el cambio de ancho */
  }